/* Your styles can go here. */

input, select {
    background-color: #f2f75d;
    margin: 5px;
    width:175px;
}

[name="lastname"] {
    font-weight: bold;
}

#instructions {
    border: 4px double #47d177;
    margin-bottom: 15px;
    padding:8px;
}

input[value="Apply"] {
    width: 75px;
    display: block;
    margin: 10px auto;
}

table {
    width: 400px;
    margin: auto;
}

label {
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
}

.jumbotron {
    width:600px;
    text-align: center;
}

body {
    background-color: #fc5858;
}

.navbar {
    background-color: #47d177;
}

#thankyou {
    background-color: #eee;
    margin: 15px;
    text-align: center;
}
